<h1 class="page-title">Top Videos by View Count</h1>

<% if @videos.present? %>
  <ul class="video-list">
    <% @videos.each do |video| %>
      <li class="video-item">
        <div class="video-thumbnail">
          <img src="<%= video.thumbnail %>" alt="<%= video.title %>">
        </div>
        <div class="video-details">
          <strong class="video-title"><%= video.title %></strong>
          <p class="video-views">Views: <%= number_with_delimiter(video.view_count) %></p>
          <p class="video-description"><%= truncate(video.description, length: 80) %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-videos">No videos found. Try searching and saving some videos.</p>
<% end %>

<div class="search-link">
  <%= link_to "Search Videos", search_videos_path, class: "btn-primary" %>
</div>
